@import url(http://fonts.googleapis.com/css?family=Roboto:400,300|Roboto+Condensed:400italic,700italic,400,300,700&subset=latin,cyrillic);
*{
	margin: 0px;
	padding:0px;
	border:0px;
	font-family:'Roboto Condensed', sans-serif;
	font-weight: 400;
	color:#333;
	text-decoration: none;
}
body,html{
	height: 100%;
	min-height: 100%;
}
.container{
	width:100%;
	min-width: 395px;
	min-height: 100%;
	height: auto;
}
	/*header-main-1180*/
	.header-main-1180{
		width:100%;
		min-width: 1180px;
		min-height: 100%;
		height: auto;
		background-color: #fff;
		margin: 0 auto;
		display: block;
		position: relative;
		z-index: 8000;
	}
	.header-top{
		width: 100%;
		min-width: 1180px;
		height: 120px;
		border-bottom: 2px solid #dddddd;
	}
	.header-top-content {
		width: 1180px;
		height: 100%;
		margin: 0 auto;
		position: relative;
	}
		.header-social{
			width: 186px;
			height: auto;
			float: left;
			margin: 45px 300px 0 0;
		}
			.header-social a, .header-social li{
				width: 35px;
				height: 35px;
				display: inline-block;
			}
			.header-social ul { height: auto; list-style: none;}
			.header-social li { margin-right: 23px;}

			li#vk 	{	background: url(../images/header/social_pikt.png) 0 -35px;}
			li#fb 	{	background: url(../images/header/social_pikt.png) -35px -35px;}
			li#gram {	background: url(../images/header/social_pikt.png) -70px -35px;}
			li#vk:hover 	{	background: url(../images/header/social_pikt.png) 0 0;}
			li#fb:hover 	{	background: url(../images/header/social_pikt.png) -35px 0;}
			li#gram:hover   {	background: url(../images/header/social_pikt.png) -70px 0;}
		.logo{
			width: 260px;
			display: inline-block;
			margin-top: 20px;
		}
		.header-contacts {
			height: 50px;
			position: absolute;
			top: 21px;
			bottom: 0;
			right: 0;
		}
			.header-contacts p {
				font-size: 18px;
				font-weight: 300;
			}
			.header-contacts-phone_1{
				margin-left: 3px;
			}
			.header-contacts-mail{
				text-align: center;
			}
	.header-menu {
		width: 100%;
		height: 58px;
		border-bottom: 2px solid #dddddd;
	}
	.sticky-1180 {
		position: fixed; 
		top: 0;
		background-color: #fff;
	}
		.header-menu>ul {
			width: 880px;
			height: auto;
			display: block;
			margin: 0 auto;
		}
		.header-menu>ul>li {
			display: inline-block;
			margin: 0 10px;

		}
		.header-menu>ul>li>a {
			display: inline-block;
			text-transform: uppercase;
			font-size: 18px;
			font-weight: 300;
			letter-spacing: 0px;
			line-height: 58px;
		}
		.header-menu a:hover {color: #999;}
		a.active-url {color: #f58026;}
	.insta-butt {
		position: relative;
		line-height: 60px;
	}
		.header-menu-down {
			position: absolute;
			display: block;
			width: 132px;
			background: #f3f3f3;
			left: -20px;
			top: 60px;
		}
		/*li.insta-butt:hover>ul {display: block;}*/
			.header-menu-down li {
				font-size: 16px;
				text-transform: uppercase;
				line-height: 36px;
				width: 100%;
				text-align: center;
				border-bottom: 1px solid #d9dbdd;
				border-top: 1px solid #fdfdfd;
				list-style: none;
			}
			.header-menu-down li:first-child {border-top: none;}
				.header-menu-down li a {
					color: #666;
					font-weight: 300;
				}
				.header-menu-down li a:hover {color: #f58026;}

	/*end of header*/

	/*CMS*/
	input{ 
		outline: none;
		vertical-align: top;
	}
	textarea  {
		resize: none;
		outline: none;
	}
	.right-content{
		position: relative;
	}
	.CMS-opacity_05 {
		opacity: .5;
	}
	.CMS.content {
		width: 1180px;
		margin: 0 auto 80px auto;
		position: relative;
	}
	.CMS h2{
		font-size: 24px;
		line-height: 36px;
		text-transform: uppercase;
		text-align: center;
		border: 2px solid #5783c1;
		margin: 38px 0 20px 0;
	}
	.CMS input[type=text] {
		height: 34px;
		font-size: 22px;
		font-weight: 300;
		line-height: 34px;
		color: #7f7f7f;
		border: 2px solid #7f7f7f;
		padding: 0 0 2px 16px;
	}
	.CMS-block {
		overflow: hidden;
		border: 2px solid #d9dbdd;
		border-bottom: none;
		/*min-height: 168px;*/
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
	}
		.CMS-block.last_block {border: 2px solid #d9dbdd;} 
		.CMS-block .left-label {
			width: 158px;
			height: 100%; 
			float: left;			
			padding: 40px 8px 0 8px;			

			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
					box-sizing: border-box;
		}
			.CMS-block .left-label p {
				font-size: 18px;
				line-height: 21px;
				text-align: center;
			}
		.CMS-block .right-content {
			width: 1018px;
			height: 100%;
			float: left;
			/*overflow: hidden;*/
			border-left: 2px solid #d9dbdd;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
					box-sizing: border-box;
		}
		.CMS-buttons {float: left;}
		.CMS-prewiew {
			position: relative;
			width: 696px;
			min-height: 100px;
			height: 100%;
			float: left;
			margin-left: 20px;
			overflow: hidden;
		}
			.CMS-prewiew.photo {font-size: 0;}
			.photo-preview {
				height: 102px;
				width: 152px;
				margin: 20px 60px 0 0;
				display: inline-block;
				position: relative;
				padding-right: 20px;

			}
				.close_cross {
					display: block;
					width: 14px;
					height: 15px;
					background: url(../images/CMS/close-cross.png) no-repeat;
					position: absolute;
					right: 0;
					top: 0;
					cursor: pointer;
				}
			.CMS-prewiew.photo img {
				width: auto;
				max-width: 152px;
				height: auto;
				max-height: 102px;
				display: block;
				margin: auto;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 11px;
				left: 0;
			}
		.CMS .button {
			position: relative;
			width: 240px;
			height: 40px;
			background-color: #f58026;
			cursor: pointer;
			overflow: hidden;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
					box-sizing: border-box;
		}
			.CMS .button p {
				font-size: 18px;
				line-height: 34px;
				color: #fff;
				text-align: center;
			}
			.CMS .button input {
				position: absolute;
				top:0;
				left:0;
				cursor: pointer;
			}
			.CMS .button.add_photo {margin-bottom: 20px;}
			.CMS .button.save {background-color: #71c592;}
		.CMS-main-slide .CMS-buttons {padding: 78px 0 0 60px;}

		/*.CMS-block .CMS-prewiew {padding: 18px 0 20px 20px;}*/
			.CMS-block.CMS-main-slide {	height: 262px;}
			.CMS-block.CMS-main-clients {
				position: relative;
				min-height: 170px;
				max-height: 722px;
			}
				.CMS-block.CMS-main-clients .CMS-buttons{
					position: absolute;
					top:600px; 
					right:0;
					width: 1016px;
					z-index: 1;
				}
				.CMS-block.CMS-main-clients .save{
					width: 100%;
					cursor: pointer;
				}
				.CMS-block.CMS-main-clients .left-label span {color: #a8a8a8;}
		.CMS-block.CMS-main-clients .right-content {
			position: relative;
			overflow: hidden;
			height:640px;
			font-size: 0;
			padding-left:85px;
		}
			.CMS-block.CMS-main-clients .right-content .scroll-content{
				width: 933px;
				right: 0;
			}
		.CMS-block .clients-prewiew {
			width: 153px;
			height: 150px;
			display: inline-block;
			vertical-align: top;			
			line-height: 150px;
			margin: 30px 78px 0 0;
			overflow: hidden;
		}
			.icheckbox_minimal-green {
				vertical-align: top;
				float: right;
				cursor: pointer;
				width: 20px;
				height: 20px;
				background: url(../images/CMS/input_unchecked.png);
			}
			.icheckbox_minimal-green.checked {
				background: url(../images/CMS/input_checked.png);
			}

			.CMS-block .clients-prewiew img {
				width: 120px;
				max-height: 150px;
				display: inline-block;
				vertical-align: middle;
			}
		.instamini .CMS-prewiew{
			height: 150px;
			float: right;
		}
			.instamini .CMS-prewiew .upload_preview{
				position: relative;
			}
		.CMS-block.instamini .CMS-buttons{	padding: 18px 0 40px 58px;	}
		.CMS-block.instamini .CMS-prewiew div {
			width: 152px;
			float: right;
			margin-right:66px;
		}
			.CMS-block.instamini .CMS-prewiew div img{
				width: 100%;
				font-size: 0;
			}
		.CMS-block.create_gallery .right-content { padding: 30px 0 28px 58px; }
			.CMS-block.create_gallery .button  {
				display: inline-block;
				margin-right: 87px;
			}
			.CMS-block.create_gallery .button:last-child {margin-right: 0;}
			.CMS-block.create_gallery .button.closed {background-color: #e0343f;}
		.CMS .new_gallery .right-content {
			padding: 0;
			font-size: 0;
		}
		.gallery-edit-form {overflow: hidden;}
			.gallery-edit-form .CMS-buttons {
				width: 100%;
				padding: 18px 0 24px 58px;

				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
			.gallery-edit-form p.label-pass, .gallery-edit-form p.label-date {
				width: 720px;
				font-size: 14px;
				font-style: italic;
				line-height: 16px;
				color: #7f7f7f;
				text-align: right;
			}
			.gallery-edit-form .button, .gallery-edit-form input {
				display: inline-block;
				vertical-align: top;
			}
				.gallery-edit-form input.pass {
					width: 220px;
					border-color: #e0343f;
					margin-left: 80px;
				}
				.gallery-edit-form input.h_1, .gallery-edit-form input.h_2  { width: 380px;}
				.gallery-edit-form input.date { 
					width: 130px; 
					margin-left: 80px;
				}
				.gallery-edit-form p.label-date {
					width: 630px;
					margin: 0 0 4px 0;
				}
			.gallery-edit-form .gallery-photos {
				width: 100%;
				height: 300px;
				border-top: 2px solid #d9dbdd;				
				overflow: hidden;
				padding: 10px 0 0 58px;

				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
				.gallery-edit-form .photo-left {
					width: 240px;
					height: 100%;
					float: left;
					margin-right: 20px;
					padding-left: 0;
				}
					.gallery-edit-form .top-label {
						font-size: 18px;
						margin-bottom: 15px;
					}
					.gallery-edit-form .button {margin-bottom: 20px;}
				.gallery-edit-form .CMS-prewiew {
					margin-left: 0;
					width: 698px;
					padding: 0;
					float: left;
				}
					.gallery-edit-form .CMS-prewiew .photo-preview {
						width: 140px;
						height: 148px;
						padding-right: 25px;
						font-size: 0;
						line-height: 148px;
					}
						.gallery-edit-form .CMS-prewiew .photo-preview img {
							max-height: 98px;
							max-width: 137px;
							display: block;
							margin:0 auto;
							
							cursor: pointer;
						}
		.CMS-block.yours_gallery .right-content	{
			min-height: 900px;
			height: auto;
			max-height: 900px;
			padding: 0 0 5px 17px;
		}
			.CMS-block .gallery {
				width: 982px;
				height: 122px;
				border-bottom: 2px solid #888888;
				margin-top: 18px;
			}
			.CMS-block .gallery:last-child {border-bottom: none;}
				.CMS-block .gallery img.prewiew {
					width: 152px;
					height: 102px;
					display: block;
					float: left;
					margin-right: 26px;
				}
				.CMS-block .gallery .gallery-label {
					height: 79px;
					width: 560px;
					float: left;
					overflow: hidden;
				}
				.CMS-block .gallery p {
					color: #6e6e6e;
					font-weight: 300;
					line-height: 24px;
				}
					.CMS-block .gallery p.h_1 {
						max-height: 46px;
						text-transform: uppercase;
						font-size: 20px;
						overflow: hidden;
						color: #f58026;
					}
					.CMS-block .gallery p.h_2 {
						max-height: 54px;
						font-size: 18px;
						line-height: 18px;
					}
					.CMS-block .gallery p.date {
						width: 119px;
						color: #f58026;
						font-size: 48px;
						line-height: 44px;
						float: left;
					}
					.CMS-block .gallery p.pass {
						width: 230px;
						color: #e0343f;
						font-size: 30px;
						float: left;
					}
					.CMS-block .gallery .gallery-buttons {
						width: 45px;
						height: 19px;
						float: right;
						overflow: hidden;
						margin: -9px 27px 0 0;
					}
						.CMS-block .gallery .gallery-buttons .edit {
							float: left;
							width: 18px;
							height: 18px;
							background: url(../images/CMS/edit-pencil.png) no-repeat;
							margin-right: 11px;
							cursor: pointer;
						}
						.CMS-block .gallery .gallery-buttons .close_cross {
							float: left;
							margin-top: 3px;
							position: static;
						}
			.yours_gallery .gallery-edit-form {
				width: 978px;
				border: 2px solid #888;
				margin-bottom: 18px;
				margin-top: -2px;
			}
				.yours_gallery .gallery-edit-form .CMS-buttons, .yours_gallery .gallery-edit-form .gallery-photos {
					padding-left: 39px;
				}
				.yours_gallery .gallery-edit-form .gallery-photos {border-color: #888;				}
					.yours_gallery .gallery-edit-form .CMS-prewiew {width: 679px;}



		.CMS-block.info-clients .right-content {padding: 18px 0 0 12px;}
			.CMS-block.info-clients ul {font-size: 0;}
			.CMS-block.info-clients li {
				display: inline-block;
				vertical-align: top;
				margin: 0 10px 20px 0;
			}
				.CMS-block.info-clients li .label {display: inline-block;}
				.CMS-block.info-clients li div.label {
					width: 35px;
					height: 35px;
					background: url(../images/CMS/social.png) no-repeat;
					margin: 2px 10px 0 0;
				}
					.CMS-block.info-clients li div.vk_CMS {background-position: 0 -35px;}
					.CMS-block.info-clients li div.inst_CMS {background-position: 0 -70px;}
					.CMS-block.info-clients li div.tw_CMS {background-position: 0 -105px;}
				.CMS-block.info-clients li input {
					width: 380px;
					vertical-align: top;
				}
				.CMS-block.info-clients li>p {
					width: 70px;
					font-size: 16px;
					color: #7f7f7f;
					text-align: right;
					margin: 8px 20px 0 0;
				}
				.CMS-block.info-clients li>.button.save {margin-left: 250px;}
		.CMS-block.new-clients .right-content {
			padding: 38px 0 20px 58px;
		}
			.CMS-block.new-clients .CMS-buttons {margin-right: 6px;}
			.CMS-block.new-clients .new_client-form {
				width: 474px;
				float: left;
				margin-right: 30px;
			}
				.CMS-block.new-clients .new_client-form p {
					display: inline-block;
					width: 93px;
					text-align: right;
					color: #7f7f7f;
					line-height: 15px;
					margin: 3px 16px 0 0;
				}
				.CMS-block.new-clients .new_client-form input{
					width: 340px;
					margin-bottom: 20px;
				}
			.delete_current .close_cross{
				display: none;
			}
			.CMS-block.new-clients .new_client-logo {
				position: absolute;
				top:30px;
				right:50px;
			}
				.CMS-block.new-clients .CMS-prewiew{
					width: 130px;
					height: 130px;
					margin-top: 10px;
				}
				.CMS-block.new-clients .photo-preview, .CMS-block.clients-clients .clients-prewiew {
					width: 120px;
					height: 124px;
					line-height: 124px;
					padding-right: 24px;
					margin: 0;
					position: relative;
				}
					.CMS-block.new-clients .photo-preview img, .CMS-block.clients-clients .clients-prewiew img {
						max-height: 124px;
						max-width: 100%;
					}
		.CMS-block.clients-clients .right-content {
			height: 698px;
			padding: 0 0 5px 85px;
		}
			.CMS-block.clients-clients .clients-prewiew {
				margin: 33px 76px 33px 0;
			}
	.CMS-block.new_event .CMS-prewiew{
		position: absolute;
		top:20px;
		left: 30px;
		width: 240px;
		height: 140px;
		margin: 0;
	}
	.CMS-block.new_event .right-content {
		padding: 18px 0 38px 19px;
	}
		.event-edit-form{
			width: 978px;
			padding: 20px 39px 24px 39px;
			overflow: hidden;
		}
			.event-edit-form .left-side {
				width: 240px;
				float: left;
				margin:190px 10px 0 0;
			}
				
				.event-edit-form p.label-date {
					width: 149px;
					font-size: 14px;
					font-style: italic;
					line-height: 16px;
					color: #7f7f7f;
					text-align: right;
				}
				.event img{
					max-width:152px; 
					max-height:102px;
				}
				.event-edit-form .left-side .button.save {margin-bottom:20px;}
				.button.decline {
					background-color: #d9dbdd;
					margin-bottom: 20px;
				}
					.button.decline p {color: #333;}
				.event-edit-form .photo-preview .close_cross{
					display: none;
				}
				.event-edit-form .photo-preview {
					width: 162px;
					height: 148px;
					padding-right: 16px;
					font-size: 0;
					line-height: 148px;
					text-align: center;
					margin: 0 0 52px 50px;
				}
					.event-edit-form .photo-preview img {
						max-width: 152px;
						max-height: 138px;
						display: inline-block;
						vertical-align: middle;
						padding: 3px;
						border: 2px solid #fff;
					}
			.event-edit-form{
				position: relative;
			}
			.event-edit-form .CMS-prewiew{
				position: absolute;
				top:20px;
				left: 30px;
				width: 240px;
				height: 140px;
				margin: 0;
			}
			.event-edit-form .right-side {
				width: 650px;
				float: left;
				overflow: hidden;
			}
					.event-edit-form .right-side input {
						width: 542px;
						height: 40px;	
						float: right;
						margin-bottom: 20px;

						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
					}
					.event-edit-form .right-side textarea {
						width: 542px;
						height: 180px;
						float: right;
						border: 2px solid #7f7f7f;
						padding: 7px 20px 18px 7px; 

						font-size: 16px;
						color: #333;
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
					}
					.event-edit-form .right-side p {
						width: 90px;
						color: #7f7f7f;
						font-size: 16px;
						line-height: 40px;
						text-align: right;
						float: left;
						margin-bottom: 20px;						
					}
						.event-edit-form .right-side p.label-text {
							line-height: 15px;
							margin-top: 11px;
						}
						.event-edit-form .right-side p.label-symbols_left {
							width: 100%;
							font-style: italic;
							font-size: 14px;
							line-height: 30px;
						}
			.event-edit-form .bottom-side {
				float: left;
				width: 900px;
				overflow: hidden;
			}
				.event-edit-form  input.date {
					width: 129px;
				}
				.event-edit-form .bottom-side input.gallery_url {
					height: 40px;
					float: right;
				}
				.event-edit-form .bottom-side p.label-gallery_url {
					display: inline-block;
					width: 78px;
					color: #7f7f7f;
					font-size: 16px;
					line-height: 15px;
					text-align: right;
					margin-left: 109px;
				}

				.event-edit-form .bottom-side input.gallery_url {
					width: 542px;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
				}

	.CMS-block.your_events .right-content {
		min-height: 900px;
		height: auto;
		max-height: 900px;
		padding: 0 0 5px 17px;
	}
				.CMS-block .gallery.event .gallery-label {
					height: 79px;
					width: 350px;
					float: left;
					overflow: hidden;
				}
				
				.CMS-block .event .photo-label {
					width: 200px;
					height: 79px;
					float: left;
				}
					.CMS-block .event .photo-label p {
						display: inline-block;
						width: 150px;
						font-size: 38px;
						color: #999;
						font-weight: 300;
						text-align: right;
					}
					.CMS-block .event .photo-label .event-photos-label {
						display: inline-block;
						width: 23px;
						height: 19px;
						background: url(../images/CMS/event-photos-label.png) no-repeat;
						margin-bottom: 3px;
					}
			.your_events .event-edit-form {
				width: 900px;
				border: 2px solid #888;
				margin-top: -2px;
				margin-bottom: 18px;
			}
				.your_events .event-edit-form .CMS-buttons, .your_events .event-edit-form .gallery-photos {
					padding-left: 39px;
				}

	/*CMS enter*/
	.enter-form {
		display: inline-block;
		width: 354px;
		height: 228px;
		background: #eaeaea;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 6px 23px;
		margin: auto;

		-webkit-box-shadow:0 2px 6px rgba(0, 0, 0, .34);
      	   -moz-box-shadow:0 2px 6px rgba(0, 0, 0, .34);
          	    box-shadow:0 2px 6px rgba(0, 0, 0, .34);
	}
		.enter-form p {
			font-weight: 300;
			font-size: 18px;
			line-height: 33px;
		}
		.enter-form input {
			width: 334px;
			height: 58px;
			border: 2px solid #cecece;

			font-weight: 300;
			font-size: 24px;

			padding: 0 5px 0 14px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		.enter-form input[type='password'] {
			letter-spacing: 5px;
		}
		.enter-butt {
			width: 98px;
			height: 30px;
			background: #cecece;
			margin: 10px auto 0 auto;
			cursor: pointer;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
			.enter-butt p {
				text-align: center;
				line-height: 22px;
				font-size: 18px;
			}
			.enter-butt:hover {background: #72c391;	}
			.enter-butt:hover p{color: #fff;}
	/*пароль*/
	.chng_pass .right-content {
		padding: 38px 0 40px 58px;
	}
		.chng_pass-form {
			width: 462px;
			overflow: hidden;
		}
			.chng_pass-form p {
				font-size: 16px;
				line-height: 15px;
				color: #7f7f7f;
				width: 80px;
				display: inline-block;
				text-align: right;
				margin-top: 3px;
			}
			.chng_pass-form p:first-child {
				margin-bottom: 30px;
			}
			.chng_pass-form input {
				width: 362px;
				height: 40px;
				float: right;

				font-size: 22px;
				font-weight: 300;
				color: #7f7f7f;
				border: 2px solid #7f7f7f;
				padding: 0 0 2px 16px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
.upload_preview{
	position: absolute;
}
.display{
	display: none;
}
.gallery-edit-form .closed_gallery{
	height: 0px;
	width: 0px;
	padding: 0;
	margin: 0;
}
.closed_gallery .photo-left{
	position: absolute;
	top:0px;
	right: 30px;
}
.closed_gallery .button{
	
	width: 132px;
	float: right;
}

.edit_closed_gallery .CMS-buttons{
	height: 198px;
}
	.gallery-edit-form  .edit_closed_gallery-photos{
		height: 0px;
		padding: 0;
		margin: 0;
		border:0;
	}
	.edit_closed_gallery-photos .photo-left{
		position: absolute;
		top:18px;
		right: 30px;
		width: 150px;
	}
	.edit_closed_gallery-photos .button{
		width: 132px;
		float: right;
	}
	.gallery-edit-form{
		position: relative;
	}
.clients-clients{
	position: relative;
}
.clients-clients .CMS-buttons{
	position: absolute;
	top:658px; 
	right:0;
	width: 1016px;
	z-index: 1;
}
	.clients-clients .save{
		width: 100%;
		cursor: pointer;
	}