@import url(http://fonts.googleapis.com/css?family=Roboto:400,300|Roboto+Condensed:400italic,700italic,400,300,700&subset=latin,cyrillic);
*{
	margin: 0px;
	padding:0px;
	border:0px;
	font-family:'Roboto Condensed', sans-serif;
	font-weight: 400;
	color:#333;
	text-decoration: none;
}
body,html{
	height: 100%;
	min-height: 100%;
}
.container{
	width:100%;
	min-width: 480px;
	min-height: 100%;
	height: auto;
}
input{
	outline: none;
}
textarea{
	outline: none;
	resize:none;
}
.id{
	display: none;
}
.header{
	width: 100%;
}
.header-main-1180 {display: none;}
.active-url {color: #f58026 !important;}
	.logo{
		display: block;
		margin:14px auto
	}
	.title_block{
		position: relative;
		width: 100%;
		height: 56px;
		border-top:2px solid #dddddd;
		border-bottom:2px solid #dddddd;
	}
	.sticky {
		position: fixed;
		top: 0;
		z-index: 9999;
		background-color: #fff;
	}
		.title{
			font-size: 18px;
			font-weight: 700;
			color:#f48023;
			text-transform: uppercase;
			margin:15px 0;
			text-align: center;
		}
		.phone{
			position: absolute;
			top:6px;
			left: 4.166666666%;
			width: 41px;
			height: 42px;
			background-image: url(../images/header/phone_pikt.png);
			background-position: 0 0;
			cursor: pointer;
		}
		.menu{
			position: absolute;
			top:11px;
			right: 4.166666666%;
			width: 32px;
			height: 32px;
			background-image: url(../images/header/menu_pikt.png);
			background-position: 0 0;
			cursor: pointer;
		}
		.menu-down, .phone-down{
			display: none;
			position: absolute;
			top:58px;
			width: 100%;
			background:#dadada;
			border-top: 1px solid #999;
			border-bottom: 1px solid #f3f3f3;
			z-index: 99;
		}
			.menu-down li, .phone-down li{
				font-size: 18px;
				font-weight: 400;
				color:#666;
				text-transform: uppercase;
				line-height: 58px;
				width: 100%;
				text-align: center;
				border-bottom: 1px solid #999;
				border-top: 1px solid #f3f3f3;
				list-style: none;
			}
				.menu-down a {color: #666;}
				.menu-down .insta-list {
					font-size: 0.001px;
					line-height: 46px;
				}
				.menu-down .insta-list a {
					width: 153px;
					height: 45px;
					font-size: 18px;
					color: #666;
					line-height: 44px;
					display: inline-block;
					border-right: 1px solid #999;
					border-left: 1px solid #f3f3f3;
					margin-top: 7px;
				}
				.menu-down .insta-list a:first-child {
					border-left: none;
					padding-left: 0;
				}
				.menu-down .insta-list a:last-child {
					border-right: none;
					padding-right: 0;
				}
			.phone-down li {
				font-weight: 300;
				font-size: 24px;
				color: #333;
			}
				.phone-down li.phone-contact {
					height: 55px;
					padding-bottom: 3px;
				}
				.phone-down li.phone-contact:first-child {padding-left: 2px;box-sizing:border-box;}
			.phone-social{
				height: 58px;
			}
				.phone-social div{
					display: inline-block;
					width: 35px;
					height: 35px;
					margin: 12px 12px 0 12px;
				}
				.phone-social_1{background: url(../images/header/social_pikt_phone.png);}
				.phone-social_2{background: url(../images/header/social_pikt_phone.png) 35px;}
				.phone-social_3{background: url(../images/header/social_pikt_phone.png) 70px;}
			.phone-down .order_button p {
				padding-top: 0;
			}

/*content*/
	h1{
		position: relative;
		font-size: 26px;
		font-weight: 300;
		color: #999999;
		text-transform: uppercase;
		text-align: center;
		padding:8px 0 13px 0;
		border-bottom:2px solid #dddddd;
		z-index: 9;
	}
		h1 span{
			color: #999999;
			font-weight: 300;
			text-transform: uppercase;
		}
	.insta_block{
		width: 100%;
		height: 178px;
	}
		.insta{
			width: 33.3333333%;
			height: 140px;
			float: left;
			margin-top: 18px;
			cursor: pointer;
		}
			.insta_1{
				background: url(../images/index/480/instabudka_pikt.png) center top no-repeat;
			}
			.insta_2{
				background: url(../images/index/480/instamini_pikt.png) center top no-repeat;
			}
			.insta_3{
				background: url(../images/index/480/instaball_pikt.png) center top no-repeat;
			}
		.insta_text{
			font-size: 18px;
			text-transform: uppercase;
			color: #999999;
			text-align: center;
			margin-top: 121px;
		}
	.news{
		position: relative;
		width: 100%;
		height: auto;
		margin-bottom: -3px;
	}
	.in_1180 {display: none;}
	/*дополнительные блоки новостей, только для ширины экрана выше 1180*/

		@media all and (max-width: 768px){
			.news:nth-of-type(4){
				display: none;
			}
		}
		
		.news_img{
			width: 100%;
		}
		.news-text{
			position: absolute;
			bottom: 3px;
			width: 100%;
			height: 100px;
			background: url(../images/index/480/slider_text_bg.png);
		}
			.news-date{
				font-size: 48px;
				font-weight: 300;
				color:#f58026;
				margin:11px 0 0 2.291666666%;
				float:left;
				width: 24.0833333%;
				min-width: 105px;
			}
			.news-title{
				font-size: 20px;
				text-transform: uppercase;
				width: 71%;
				min-width: 70px;
				max-height:70px;
				overflow: hidden; 
				margin-top: 21px;
				display: block;
			}
	.clients{
		font-size: 26px;
		font-weight: 300;
		color: #999999;
		text-transform: uppercase;
		text-align: center;
		line-height: 58px;
		border-bottom: 2px solid #dddddd;
		border-top: 2px solid #dddddd;
	}
	.clients_block{
		width: 100%;
		height: auto;
		margin: 0 0 37px 0;
		font-size: 0.0001pt;
	}
		.clients_block li{
			width: 33.3%;
			height: 150px;
			vertical-align: top;
			line-height: 150px;
			text-align: center;
			display: inline-block;
			overflow: hidden;
			margin-top: 2%;
			font-size: 0.0001pt;
		}
			.clients_block img{
				width: 100px;
				max-height: 150px;
				display: inline-block;
				vertical-align: middle;
			}
	.other_clients{
		position: relative;
		width: 100%;
		height: 113px;
		border-top: 2px solid #dddddd;
	}
		.other_clients p{
			text-align: center;
			margin-top: 25px;
		}
		.other_clients-text{
			font-size: 19px;
			font-weight: 300;
			color: #333;
			text-transform: uppercase;
			background: url(../images/index/other_clients_underline.png) bottom repeat-x;
		}
		.pennant{
			position: absolute;
			top:80px;
			left: 50%;
			margin-left:-10px;
			width: 20px;
			height: 1px;
			background: #333;

		}
/*footer*/
.footer-main-1180 {display: none;}
.footer{
	width: 100%;
	height: 170px;
	background: #eeeeee;
	padding-top: 1px;
}
	.social-footer {display: none;}
	ul.social-footer { display: none; }	
	.order_button{
		width:95.8%;
		height: 60px;
		margin: 30px 2.0833333333% 11px 2.0833333333%;
		background: #f58026;
		border-radius:7px;
	}
	.order_button p{
		font-size: 24px;
		color:#fff;
		text-transform: uppercase;
		text-align: center;
		padding-top: 11px;
		cursor: pointer;
	}
	.asart{
		font-family: 'Roboto';
		font-size: 18px;
		font-weight: 300;
		color: #999999;
		text-align: center;
		margin-bottom: 11px;

	}
		.asart a{
			font-family: 'Roboto';
			font-size: 18px;
			font-weight: 300;
			color: #e94e1b;
			background: url(../images/index/asart_underline.png) bottom repeat-x;
		}
	.foot-copyright {
		font-family: 'Roboto';
		font-size: 12px;
		color: #f58026;
		text-align: center;
	}
/*instabudka*/
	.description{
		position: relative;
		width: 100%;
		height: auto;
	}
		.insta-menu {display: none;}
		.instabudka_h2{
			position: absolute;
			top:0px;
			z-index: 1;
			width: 100%;
			font-size: 42px;
			font-weight: 300;
			line-height: 60px;
			text-align: center;
			text-transform: uppercase;
			background: url(../images/instabudka/h2_bg.png);
		}
		.description-img{
			width: 100%;
		}
		.description-quote{
			font-size: 24px;
			font-style: italic;
			line-height: 24px;
			margin: 47px auto 68px auto;
			width: 400px;
			text-align: center;
		}
		.description-quote:before, .description-quote:after {
			content: "————";
			font-weight: 300;
			font-size: 10px;			
			line-height: 44px;
			letter-spacing: -2.3px;
			color: #666;
			display: none;
		}
			.quote{
				font-size: 40px;
				font-weight: 700;
				color:#999;
				vertical-align: -3px;
				line-height: 0px;
			}
		.description-pennant{
			position: absolute;
			top:349px;
			left: 50%;
			margin-left: -10px;
			width: 20px;
			height: 146px;
			border-top:1px solid #333;
			background: url(../images/instabudka/pennant.png) bottom no-repeat;
		}
		.description-text{
			text-align: center;
			margin-bottom: 55px;
		}
			.description-text-facebook{
				display: inline-block;
				margin:  0 0 -8px -13px;
				height: 36px;
				width: 42px;
				background: url(../images/instabudka/480/quote_facebook.png) center left no-repeat,#eee;
			}
			.description-text-twitter{
				display: inline-block;
				margin:  0 0 -8px -8px;
				height: 36px;
				width: 36px;
				background: url(../images/instabudka/480/quote_twitter.png) center left no-repeat,#eee;
			}
			.description-text span{
				display: inline-block;
				font-size: 27px;
				font-weight: 300;
				text-transform: uppercase;
				line-height: 36px;
				margin-bottom: 5px;
				background: #eee;
				padding:0 20px;
			}

		.description-block{
			width: 100%;
			height: 112px;
			padding-top:1px;
		}
				.description-block:nth-of-type(odd){
					background: #eee;
				}
				.description-block_1{
					background: url(../images/instabudka/480/desc_1.png) 37px 7px no-repeat;
				}
				.description-block_2{
					background: url(../images/instabudka/480/desc_2.png) 37px 7px no-repeat;
				}
				.description-block_3{
					background: url(../images/instabudka/480/desc_3.png) 37px 7px no-repeat;
				}
				.description-block_4{
					background: url(../images/instabudka/480/desc_4.png) 37px 7px no-repeat;
				}
			.description-block p{
				font-size: 24px;
				text-transform: uppercase;
				font-weight: 300;
				line-height: 24px;
				margin: 4px auto;
				width: 170px;
				height: 88px;
				padding: 16px 0 0 200px;
			}
	.function{
		position: relative;
		width: 100%;
		height: auto;
	}
		.function-block{
			width: 100%;
			height: auto;
			padding-top:1px;
			position: relative;
		}
		.function-block-content {
			width: 100%;
			height: auto;
		}
			.function-block:nth-of-type(odd){
				background: #f3f3f3;
			}
			.function-block_1{
				width: 100%;
				font-size: 28px;
				font-weight: 400;
				text-transform: uppercase;
				color: #666;
				text-align: center;
				padding: 13px 0;
			}
				.function-block_1 span{
					font-size: 24px;
					color: #ccc;
					text-transform: lowercase;
					padding-left: 5px;
				}
			.function-img{
				width: 100%;
			}
			p.function-block_2 {
				font-family: 'Roboto';
				font-weight: 300;
				font-size: 18px;
				color:#666;
			}

			ul.function-block_2, p.function-block_2 {
				padding: 18px 0px 35px 15px; 
			}

			.function-block ul.function-block_2 li {  
				display: inline;
				font-family: 'Roboto';
				font-size: 18px;
				color:#666;
			}
		.decor{
			width: 100%;
			height: auto;
			padding-top:0px;
			margin-top: -1px;
			position: relative;
		}
		.features{
			width: 100%;
			height: auto;
			padding-top:1px;
			position: relative;
		}
			.features-img_1{
				width: 177px;
				height: 177px;
				background: url(../images/instabudka/480/features_1.png);
				margin: 65px auto 78px auto;
			}
			.features-img_2{
				width: 177px;
				height: 177px;
				background: url(../images/instabudka/480/features_2.png);
				margin: 65px auto 78px auto;
			}
			.features-img_3{
				width: 177px;
				height: 177px;
				background: url(../images/instabudka/480/features_3.png);
				margin: 65px auto 78px auto;
			}
		.other_gallery{
			position: relative;
			width: 100%;
			height: 194px;
			border-top: 2px solid #dedede;
			padding-top: 1px;
			clear: both;
		}
			.other_gallery p{
				text-align: center;
				margin:78px 0;
				margin-bottom: 100px;
			}
			.other_gallery-text{
				font-size: 19px;
				font-weight: 300;
				color: #333;
				text-transform: uppercase;
				background: url(../images/index/other_clients_underline.png) bottom repeat-x;
			}
			.other_gallery .line {
				display: none;
			}
	/*instamini*/
		.instamini .description-block_1{background: url(../images/instamini/480/desc_1.png) 37px 7px no-repeat;	}
		.instamini .description-block_2{background: url(../images/instamini/480/desc_2.png) 37px 7px no-repeat;	}
		.instamini .description-block_3{background: url(../images/instamini/480/desc_3.png) 37px 7px no-repeat;	}
		.instamini .features-img_2{	background: url(../images/instamini/480/features_2.png);}
	/*instashar*/
		.instashar .description-text-instagram {
			display: inline-block;
			margin:  0 0 -8px -13px;
			height: 36px;
			width: 42px;
			background: url(../images/instashar/480/quote_instagram.png) center left no-repeat,#eee;
		}
		.instashar .description-block_1{
			background: url(../images/instashar/480/desc_1.png) 37px 7px no-repeat;
			padding-top: 27px;
		}
		.instashar .description-block_2{
			background: url(../images/instashar/480/desc_2.png) 37px 7px no-repeat;
			padding-top: 25px;
		}
		.instashar .description-block_3{background: url(../images/instamini/480/desc_3.png) 37px 7px no-repeat;	}

	/*gallery*/
	.gallery{
		position: relative;
		width: 100%;
		height: auto;
		-webkit-box-shadow: 0 -10px 20px -10px rgba(0, 0, 0, 0.5) inset ;
		   box-shadow: 0 -10px 15px -10px rgba(0, 0, 0, 0.5) inset ;

	}
		.gallery-shadow_box{
			position: absolute;
			bottom:0;
			width: 100%;
			height: 10px;			
		}

		a.gallery-bgc {
			display: block;
			overflow: hidden;
		}
		.gallery-bgc:nth-child(even){
				background: #eee;
			}
		.gallery-text_block{
			position: relative;
			width: 100%;
		}
		.gallery-date {display: none;}
			.gallery-title span{
				font-size: 26px;
				color: #6e6e6e;
				text-transform: uppercase;
				font-weight: 300;
			}
			.gallery-title{
				width: 89.5%;
				font-size: 24px;
				color: #6e6e6e;
				line-height: 26px;
				font-weight: 300;
				padding: 17px 0 21px 2%;
			}
			.gallery-number{
				position: absolute;
				top:13px;
				right: 2%;
				font-size: 26px;
				color:#999;
				padding-right: 34px;
				background: url(../images/gallery/480/photo_number.png) right 7px no-repeat;
			}
			.gallery img{
				width: 100%;
			}
			.gallery-img_block img{
				display: none;
			}
			.gallery-img_block img:nth-of-type(1){
				display: block;
			}
		.gallery-closed{
			width: 100%;
			height: 100px;
			clear: both;
		}
			.gallery-closed_input{
				width: 460px;
				height: auto;
				margin:29px auto 0 auto;
				overflow: hidden;
			}
				.gallery-closed_input input{
					font-size: 36px;
					font-weight: 300;
					text-transform: uppercase;
					width: 331px;
					height: 56px;
					border:2px solid #ddd;
					float: left;
					padding-left: 5px;
					outline: none;
				}
				.gallery-closed_input a{
					width: 110px;
					height: 60px;
					background: #dadada;
					float: left;
					font-size: 24px;
					font-weight: 300;
					color: #6e6e6e;
					line-height: 60px;
					text-align: center;
					margin-left: 10px;
					cursor: pointer;
				}
/*blog*/
	.blog{
		position: relative;
		width: 100%;
		border-bottom: 2px solid #dcdcdc;
	}
		.blog:nth-of-type(even){
			background: #f3f3f3;
		}
		.blog-text_block{
			position: relative;
			width: 800px;
		}
			
			.blog-title span{
				font-size: 26px;
				color: #f58026;
				text-transform: uppercase;
				font-weight: 300;
			}
			.blog-title{
				font-size: 24px;
				color: #6e6e6e;
				line-height: 26px;
				font-weight: 300;
				padding: 17px 0 21px 2%;
			}
			.blog img{
				display: block;
				width: 100%;
			}
			.blog-date span{
				font-size: 56px;
				color: #f58026;
				font-weight: 300;
			}
				.blog-date {
					font-size: 35px;
					color: #999;
					font-weight: 300;
					width: 48%;
					float: left;
					margin:7px 0 0 2%;
				}
			.blog-social{
				display: none;
			}
			.blog-number{
				font-size: 56px;
				color:#999;
				font-weight: 300;
				text-align: right;
				width: 48%;
				margin-top: 7px;
				float: left;
			}
				.blog-number span{
					display: inline-block;
					height: 38px;
					width: 37px;
					margin:-3px 0 0 8px;
					background: url(../images/blog/480/photo_number.png) right  no-repeat;
				}
			.blog-text{
				clear: both;
				font-family: 'Roboto';
				font-size: 18px;
				font-weight: 400;
				text-indent: 40px;
				line-height: 22px;
				margin: 85px 0 0 10px;
				min-height: 85px;
				max-height: 160px;
				overflow: hidden;
			}
			.blog-text_display{
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 58px;
				box-shadow: 0 -4px 11px 0px rgba(0, 0, 0, 0.2);
				background: #fff;
				cursor: pointer;
			}
				.blog-text_display ul{
					text-align: center;
					padding-top:17px;
				}
					.blog-text_display ul li{
						display: inline-block;
						list-style: none;
						background: #dcdcdc;
						width: 8px;
						height: 10px;
						margin-right: 17px;
					}
		/*photostudio*/
	.photostudio img{ width: 100%; }
	.photostudio ul {
		list-style: none;
		border-bottom: 2px solid #ddd;
		padding: 34px 2% 22px 2.7%;
	}
	.photostudio li {
		font-size: 19px;
		line-height: 22px;
		background: url(../images/photostudio/480/li-dot.png) no-repeat 0 11px;
		padding: 0 0 17px 9px;
	}
	.photostudio p, .photostudio li {
		font-weight: 300;
	}
	.photostudio p {
		width: 81%;
		font-size: 22px;
		line-height: 26px;
		text-align: center;
		margin: 13px auto 24px auto;
	}
	/*photography*/
	.photography .description-text_block {
		background-color: #eee;
		padding: 28px 0 36px 0;
		margin-bottom: 20px;
	}
		.photography .description-text_block p {
			width: 85.4%;
			font-size: 24px;
			line-height: 24px;
			font-weight: 300;
			color: #5a5a5a;
			text-align: center;
			margin: 0 auto;
		}
	.photography .img-belt {
		width: 95.833333%;
		margin: 0 auto;
	}
	.photography .img-belt img {
		display: block;
		width: 100%;
		margin-bottom: 20px;
		max-width: 100%;
	}
	/*contacts*/
	.contacts .info {
		width: 300px;
		margin: 41px auto 63px auto;
	}
		.contacts .info p{
			text-align: center;
			text-transform: uppercase;
			font-size: 18px;
			line-height: 24px;
		}
		.contacts .info .first {padding-left: 5px;}
		.contacts .info .e-mail {margin-bottom: 24px;}
		.contacts .info .social-headline {margin: 24px 0 9px 0;}
		.contacts .info ul.social {
			width: 145px;
			height: auto;		
			display: block;
			margin: 0 auto;
			margin-bottom: 4px;
		}
		.contacts .info .social a, .contacts .info .social li{
			width: 31px;
			height: 30px;
			display: inline-block;
			margin-right: 22px;
		}
		.contacts .info .social li:last-child {margin-right: 0;}
		.contacts .info .social li.vk 	{	background: url(../images/header/social_pikt_foot.png) 	0 0;	}
		.contacts .info .social li.fb 	{	background: url(../images/header/social_pikt_foot.png) -54px 0;	}
		.contacts .info .social li.gram  {	background: url(../images/header/social_pikt_foot.png) -109px 0;}
	.contacts .map-box {
		width: 100%;
		position: relative;
		border-top: 2px solid #f48833;
		border-bottom: 2px solid #f48833;

		background-color: #ccc; 
	}
	.contacts .map-box:before{
		content: "";
		display: block;
		padding-top: 100%; 	/* initial ratio of 1:1*/
	}
		#map{
			position:  absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
	.zakaz {
		width: 100%;
		height: auto;
		padding-bottom: 40px;
	}
		.contacts .zakaz h2 {
			font-weight: 300;
			font-size: 26px;
			line-height: 58px;
			text-transform: uppercase;
			text-align: center;
			color: #999;
		}
		.contacts .zakaz>p {
			width: 65%;
			font-size: 16px;
			font-weight: 300;
			color: #666;
			text-align: center;
			margin: 15px auto 15px auto;
		}
		.contacts .zakaz input, .contacts .zakaz textarea {
			font-weight: 300;
			border: 2px solid #f58436;
			display: block;
			width: 95%;
			margin: 0 auto 20px auto;

			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		.contacts .zakaz input {
			height: 40px;
			font-size: 22px;
			line-height: 36px;
			text-align: center;
			padding: 0 5px 0 5px;
		}
		.contacts .zakaz textarea {
			font-size: 16px;
			height: 78px;
			padding: 5px;
			margin-bottom: 0;
		}
			.contacts .zakaz .comments-label {	
				width: 95%;			
				font-size: 16px;
				font-style: italic;
				text-align: right;
				margin: -1px auto 18px auto;
			}
		.contacts .button-send {
			width: 79.166%;
			height: 37px;
			margin: 0 auto;
			background-color: #f58436;
			padding-top: 3px;
			border-radius: 7px;
			cursor: pointer;
		}
			.contacts .button-send p {
				text-transform: uppercase;
				color: #fff;
				font-size: 24px;
				text-align: center;
			}
	.contacts .pennant-tails, .contacts .photo-slide {display: none;} 
	.contacts .clients-belt {
		display: block;
	}
	.main-h2{
		display: none;
	}
	/*88888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/
@media all and (max-width: 767px){
	.blog_all{
		font-size: 28px;
		font-weight: 400;
		color:#999;
		width: 100%;
		background: #dddddd;
		display: block;
		text-align: center;
		margin-top: 0px;
		line-height: 55px;
		padding-bottom: 5px;
	}
}
/*768px*/
/*88888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/
@media all and (min-width: 768px) and (max-width: 1179px){
	.phone{
		left: 11.067708333%;
	}
		.phone-down li {font-size: 24px;}
	.menu{
		right:  11.067708333%;
	}
		.menu-down .insta-list a {	width: 254px;}
	h1{
		line-height: 61px;
		text-align: left;
		font-size: 60px;
		margin:-200px 0 63px 5.46875%;
		border-bottom:0px solid #dddddd;
		max-width:680px; 
	}
		h1 span{
			display: inline-block;
			padding: 0px 12px 5px 12px;
			margin-bottom: 5px;
			color: #333;
			font-weight: 300;
			text-transform: uppercase;
			background: url(../images/index/h1_bg.png);
		}
	.main-h2{
		font-size: 26px;
		font-weight: 300;
		color:#999;
		text-transform: uppercase;
		line-height: 58px;
		text-align: center;
		border-top: 2px solid #dedede;
		border-bottom: 2px solid #dedede;
		margin-top: 40px;
	}
	.belt{
		width: 100%;
		margin: auto;
		font-size: 0.001px;
	}
	.news{
		width: 50%;
		height: auto;
		margin-top:18px;
		margin-bottom: 0;
		min-height: 285;
		display: inline-block;
	}
		.news_img{
			display: block;
			width: 100%;
		}
		.news{
			display: none;
		}
		.news:nth-of-type(-n+2){
			display: inline-block;
		}
		.news-text {
			height: 84px;
			overflow: hidden;
			bottom: 0;
		}
			.news-title {
				width: 66%;
				font-size: 18px;
			}
			.news-date {
				font-size: 43px;
			}
	.clients{
		width: 85.9375%;
		margin: 0 auto;
		margin-top: 26px;

	}
	.clients_block{
		width: 85.9375%;
		margin: -21px auto 27px auto;
	}
		.clients_block li {
			width: 26%;
		}
			.clients_block li:nth-child(3n+2) {
				margin: 2% 11% 0 11%;
			}
		.clients_block img{
			width: 120px;
			height: auto;
		}
	/*gallery*/
.gallery{
	padding-top: 7px;
	overflow: hidden;
}
	.gallery-text-belt{
		width: 100%;
		height: auto;
	}
		.gallery-date{
			font-size: 63px;
			color:#f58026;
			font-weight: 300;
			float: left;
			line-height: 63px;
			display: block;
		}
		.gallery-text_block{
			width: 85.9375%;
			overflow: hidden;
			margin: auto;
		}
			.gallery-title{
				width: 68%;
				padding: 7px 0 9px 2.8%;
				float: left;
			}
			.gallery-number{
				top:4px;
				right:0;
			}
	.gallery-img-belt{
		width:  85.9375%;
		margin:auto;
		padding-bottom: 43px;
	}
		.gallery-img-belt img{
			width: 48.4848484848%;
			margin-top: 2.5%;
		}
		.gallery-img-belt img:nth-of-type(odd){
			margin-right: 2.5%;
		}
		.gallery-img-belt a:nth-of-type(odd) img{
			margin-right: 2.5%;
		}
		.gallery-img-belt a:nth-of-type(even) img{
			margin-right: 0;
		}
		.gallery-img-belt img:nth-of-type(-n+4){
			display: inline-block;
		}
	.gallery-shadow_box{
		display: none;
	}
		.gallery-closed .gallery-shadow_box { 
			display: block;
			height: 14px;
			bottom: -3px;
			-webkit-box-shadow: 0 -10px 20px -10px rgba(0, 0, 0, 0.5) inset ;
			   		box-shadow: 0 -10px 15px -10px rgba(0, 0, 0, 0.5) inset ;
		}
	.gallery{
		box-shadow:none;
	}
	.gallery-date-close{
		display: none;
	}
	.gallery-closed_input {
		width: 85.3%;
		margin-top: 37px;
	}
		.gallery-closed_input input {
			width: 430px;
		}
	
	/*other_gallery*/

	.other_gallery { height: auto;}

		.other_gallery p { 
			margin-top: 0;
			margin-bottom: 15px;
		}
		.other_gallery-text {
			display: inline-block;
			height: 25px;	
		}
		.other_gallery .line {
			display: block;
			width: 20px;
			height: 5px;
			color: #666;
			border-bottom: 1px solid #666;
			margin: 32px auto 26px auto;
		}
		.other_gallery .line:last-child {
			margin-top: 22px;
			margin-bottom: 26px;
		}

	/*blog*/
	.blog-belt{
		position: relative;
		width:  85.9375%;
		margin: auto;
	}
			.blog-title{
				padding: 17px 0 10px 0;
			}
			.blog-date {
				width: 33.33333333%;
				margin:1px 0 0 -0.3%;
			}
			.blog-number{
				width: 33.63%;
				margin-top: 1px;
			}
			.blog-social{
				display: block;
				float: left;
				margin-top: 26px;
				width: 33.33333333%;
				text-align: center;
			}
				.blog-social li{
					display: inline-block;
					height: 25px;
				}
					.blog-social a:nth-of-type(even){
						margin: 0 45px;
					}
				.blog-social-vk{
					width: 16px;
					background: url(../images/blog/768/blog_social.png);
				}
				.blog-social-fb{
					width: 15px;
					background: url(../images/blog/768/blog_social.png) -15px;
				}
				.blog-social-tw{
					width: 16px;
					background: url(../images/blog/768/blog_social.png)16px;
				}
			.blog-text{
				margin-bottom:47px;
				max-height: none;
				overflow: none;
			}
			.blog-text_display{
				display: none;
			}
	/*instabudka*/

	.description-quote {margin: 23px auto 21px auto; }

	.description-quote:before, .description-quote:after {
		display: block;
	}

	.description-block { height: 139px;}

		.description-block_1{	background: url(../images/instabudka/768/desc_1.png) 37px 7px no-repeat;	}
		.description-block_2{	background: url(../images/instabudka/768/desc_2.png) 37px 7px no-repeat;	}
		.description-block_3{	background: url(../images/instabudka/768/desc_3.png) 37px 7px no-repeat;	}
		.description-block_4{ 	background: url(../images/instabudka/768/desc_4.png) 37px 7px no-repeat;	}

	.description-block p { 
		height: 115px;
		padding: 26px 0 0 285px;
	}

	.function-block-content {
		width: 82%;
		margin: 1px 9% 0 9%;
	}

		.function-block_1 { padding-top: 9px; }
		ul.function-block_2, p.function-block_2 { padding: 5px 0 35px 0;}

	.decor .function-block ul.function-block_2 li {
		display: block;
		font-family: 'Roboto Condensed';
		font-weight: 300;
		font-size: 26px;
		text-transform: lowercase;
		padding-left: 31px;
		background: url(../images/instabudka/768/li_dot.png) no-repeat 0px 15px;
	}
		.features-img_1{
			width: 185px;
			height: 185px;
			background: url(../images/instabudka/768/features_1.png);
			margin: 25px auto 95px auto;
			display: inline-block;
		}
		.features-img_2{
			width: 185px;
			height: 185px;
			background: url(../images/instabudka/768/features_2.png);
			margin: 25px auto 95px auto;
			display: inline-block;
		}
		.features-img_3{
			width: 185px;
			height: 185px;
			background: url(../images/instabudka/768/features_3.png);
			margin: 25px auto 95px auto;
			display: inline-block;
		}

	.features ul.function-block_2, .features p.function-block_2 {
		width: 60%;
		display: inline-block;
		vertical-align: top;

		padding: 59px 0 59px 43px; 
	}

	.features ul.function-block_2 li {
		display: block;
		font-family: 'Roboto Condensed';
		font-weight: 400;
		font-size: 19px;
		text-transform: lowercase;

		padding-left: 9px;
		background: url(../images/instabudka/768/li_dot_features.png) no-repeat 0px 11px;
	} 

	.features p.function-block_2 {
		font-family: 'Roboto Condensed';
		font-weight: 400;
		font-size: 19px;
	}
	/*instamini*/
		.instamini .description-block_1{	background: url(../images/instamini/768/desc_1.png) 37px 7px no-repeat;	}
		.instamini .description-block_2{	background: url(../images/instamini/768/desc_2.png) 37px 7px no-repeat;	}
		.instamini .description-block_3{	background: url(../images/instamini/768/desc_3.png) 37px 7px no-repeat;	}
		.instamini .features-img_2{	background: url(../images/instamini/768/features_2.png);}
	/*instashar*/
		.instashar .description-block_1{
			background: url(../images/instashar/768/desc_1.png) 37px 7px no-repeat;	
			padding-top: 40px;
		}
		.instashar .description-block_2{
			background: url(../images/instashar/768/desc_2.png) 37px 7px no-repeat;
			padding-top: 40px;	
		}
		.instashar .description-block_3{	background: url(../images/instamini/768/desc_3.png) 37px 7px no-repeat;	}
	/*photostudio*/

	.photostudio {
	width: 100%;		
		border-bottom: 2px solid #ddd; 
		margin: 40px auto 25px auto;
	}
	.photostudio-belt{
		width: 85.9375%;
		margin: 0 auto;
	}
	.photostudio ul { padding: 20px 2% 18px 4.68%;	}
	.photostudio li {
		font-size: 24px;
		font-weight: 300;
		line-height: 29px;
		background: url(../images/photostudio/768/li-dot.png) no-repeat 0 11px;
		padding: 0 0 16px 13px;
	}
	.photostudio p {
		width: 62%;
		padding-bottom: 17px;
		margin: 17px auto 0 auto;
	}
	/*photography*/
		.photography .description-text_block p {width: 54%;}
	.photography .img-belt {
		width: 85.93%;
		overflow: hidden;
	}
	.photography .img-belt img {
		width: 48.48484848484848%;
		float: left;
		max-width: 100%;
		min-width: 320px;
		min-height: 213px;	
	}
		.photography .img-belt a:nth-child(even) img {float: right;}
		.photography .img-belt a:nth-child(odd) img {clear: both;}
	/*contacts*/
	.contacts .map-box {
		width: 100%;
		height: 360px;
		position: static;
		margin-bottom: 37px;

		background-color: #ccc; 
	}
	.contacts .map-box:before{display: none;}
		#map{
			width: 100%;
			height: 100%;
			position:  static;
		}
	.contacts .zakaz {
		width: 85.9375%;
		margin: 0 auto;
	}
		.contacts .zakaz>p {width: 48%}
		.contacts .zakaz input, .contacts .zakaz textarea, .contacts .zakaz .comments-label {width: 80%;}
		.contacts .zakaz .button-send {width: 54.83%;}
	.contacts .clients-belt {display: block;}
	.contacts .clients-belt p {
		width: 85.9375%;
		margin: 0 auto;
	}
	.contacts .clients_block {
		margin-bottom: 80px;
	}
/*footer*/
	.footer {
		height: 270px;
	}
	.social-footer {
		width: 100%;
		height: 90px;
		display: block;
		background-color: #fff;
		padding-top: 10px;
		margin-top: -1px;
	}
	ul.social-footer {
		width: 197px;
		height: auto;
		display: block;
		margin: 0 auto;
		padding-left: 2px;
		background-color: #fff;
	}
	ul.social-footer li {
		display: inline-block;
		margin-right: 30px;
	}
	ul.social-footer li:last-child {margin-right: 0;}

		ul.social-footer a {
			width: 43px;
			height: 42px;
			display: block;
		}

		ul.social-footer a.vk_ft {background: url(../images/instabudka/768/social_pikt-foot.png) 0 0; }
		ul.social-footer a.fb_ft {background: url(../images/instabudka/768/social_pikt-foot.png) -75px 0; }
		ul.social-footer a.inst_ft {background: url(../images/instabudka/768/social_pikt-foot.png) -150px	 0; }

	.order_button{
		width: 58.7%;
		margin: 30px 20.65% 11px 20.65%;
	}
	.foot-copyright {margin-bottom: 19px;}
	.blog_all{
		font-size: 28px;
		font-weight: 400;
		color:#999;
		width: 100%;
		display: block;
		text-align: center;
		margin-top: 0px;
		line-height: 55px;
		padding-bottom: 5px;
	}

}/*end of 768px*/
/*swiper*/
.swiper-container {
	width: 100%;
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
	cursor: pointer;
}

.swiper-wrapper {
	position:relative;
	width:100%;
	overflow: hidden;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
	display: inline-block;
}
	.swiper-slide img{
		width: 100%;
	}
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}
.button-swiper-left {
	display: none;
	width: 107px;
	height: 108px;
	background: url(../images/index/icon_left_slide.png);
	position: absolute;
	margin: auto 0;
	top: 0;
	bottom: 0;
	z-index: 9;
}
.button-swiper-right {
	display: none;
	width: 107px;
	height: 108px;
	background: url(../images/index/icon_right_slide.png);
	position: absolute;
	margin: auto 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 9;
}
.blog_all{

}